.App {
  text-align: center;
}

.App-header {
  background-color: hsl(170, 19%, 12%);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}

.title {
  font-family: 'Bowlby One SC', cursive;
}

